<!--<form class="form-horizontal" ng-submit="suc.signUp()">-->
<form class="form-horizontal">
    <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Full name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputEmail" placeholder="Full name" ng-model="suc.user.fullname">
        </div>
    </div>
    <div class="form-group">
        <label for="inputFullname" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputFullname" placeholder="Email" ng-model="suc.user.email">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="suc.user.password">
        </div>
    </div>
<!--
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
        </div>
    </div>
-->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" ng-click="suc.signUp()">Sign up</button>
            <button class="btn btn-default" ng-click="suc.facebookSignUp()">Facebook</button>
        </div>
    </div>
</form>
